// Colors
$COLOR_REAL_BLACK : #000000;
$COLOR_REAL_WHITE : #FFFFFF;
$COLOR_BLACK    : #333333;
$COLOR_GRAY     : #666666;
$COLOR_WHITE    : #F0F0F0;
$COLOR_RED      : #F9644F;
$COLOR_GREEN    : #31D877;
$COLOR_BLUE     : #00B4FF;
$COLOR_VANILLA  : #FCFBE3;
$COLOR_CYAN     : #6CDFEA;
$COLOR_ORANGE   : #FA8838;
$COLOR_YELLOW   : #FFCC00;
$COLOR_HOT_PINK : #FF0066;
$COLOR_PINK     : #FF5EAA;
$COLOR_MAGENTA  : #F70586;
$COLOR_PURPLE   : #C0ADDB;
$COLOR_LIME     : #DDFE24;

$COLOR_UI_1 : #2D2D2D;
$COLOR_UI_2 : #373737;
$COLOR_UI_3 : #717171;
$COLOR_UI_4 : #464646;
$COLOR_UI_5 : #BDBDBD;
$COLOR_UI_6 : #E6E6E6;
