html {
  box-sizing: border-box;
  outline: none;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: inherit;
}

@import "./base/normalize";

@import "./base/global";
@import "./base/colors";
@import "./base/sizes";
@import "./base/variables";
@import "./base/fonts";

// @import "./components/sidebar-button";
// @import "./components/frame-button";
