%FONT_SYSTEM {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
} 

%FONT_SECTION {
  font-family: "Open Sans", sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
}

%FONT_TEXT {
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}

%FONT_INPUT {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}