.sk-sidebar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $COLOR_WHITE;
  width: $SIZE_SIDEBAR;
  height: $SIZE_SIDEBAR;
  user-select: none;
  background: fade-out($COLOR_WHITE, 1);
  color: $COLOR_WHITE;
  font-size: 16px;
  transition: all $TRANSITION_TIME ease;

  &:hover {
    color: $COLOR_WHITE;
    text-decoration: none;
    background: fade-out($COLOR_WHITE, .9);
    text-shadow: 0 0 1px $COLOR_WHITE;
  }
}